

.content-wrapper {
    max-width: 800px; /* Modifica questo valore in base alla larghezza desiderata */
    margin: 0 auto;
    padding: 0 15px;
}

.bk {
    margin: 0 auto;
}
.bk::before {
    content: "";
    background: url("/img/bkLogin.webp");
    background-color: #f5f5f5; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

h1 {
    color: #fff;
    text-shadow:   2px  2px 4px #494949,
                  -2px -2px 4px #777;
}

.center-aligned {
    display: flex;
    align-items: center;
    justify-content: center;
}

.andonForm {
    border: 2px solid rgb(25, 81, 142);
    border-radius: 1em;
    padding: 2em;
    background-color: #f5f5f5;
}